# Habilitar el motor de reescritura
RewriteEngine On

# Redirigir HTTP a HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Permitir CORS para recursos estáticos
<IfModule mod_headers.c>
    <FilesMatch "\.(jpg|jpeg|png|gif|css|js|svg)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>
</IfModule>

# Servir archivos estáticos directamente
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Servir directorios que existen directamente
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirigir todas las demás solicitudes al script PHP
RewriteRule ^(.*)$ index.php [L]