@import "tailwindcss";

/* Variables de color base */
:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Variables para fuentes */
  --font-title: 'Montserrat', sans-serif;
  --font-body: 'Open Sans', sans-serif;
  --font-sans: var(--font-body);
  --font-mono: monospace;
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Estilos generales */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
}
